* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: darkgoldenrod;
}

.show { display: inherit; }

.hide { display: none; }

/* app */
.container {
  display: flex;
  flex-direction: column;
  width: 45vw;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 25px;
  background: aliceblue;
}

/* budget component*/
.currencyInput {
  border: 1px inset #ccc;
  background: white;
  display: inline-block;
}
.currencyInput input {
  border: 0;
}


/* Items list component */
.disable-checkboxes--true { color: grey; }

.disable-checkboxes--false { color: black; }

.items-list__wrapper {
  padding-top: 20px;
}

.items-list {
  margin: 0 auto;
  width: 100%;
}

/* budget bar component */

.budget-cost-display__wrapper {
  width: 80%;
  min-width: 100px;
  padding-top: 20px;
  margin: 0 auto;
}

.budget-bar__wrapper {
  height: 20px;
  width: 100%;
  background-color: #e0e0de;
  border-radius: 50px;
  margin-top: 20px;
}

.budget-bar-total {
  height: 100%;
  background-color: #333;
  border-radius: inherit;
  max-width: 100%;
  text-align: right;
  transition: width 1s ease-in-out;
  }

.budget-bar-total.over-budget {  background: red; }

.budget-bar-progress  {
  padding: 5px;
  color: white;
  font-weight: bold;
}