* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: darkgoldenrod;
}

/* app */
.container {
  display: flex;
  flex-direction: column;
  width: 45vw;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 25px;
  background: aliceblue;
}

/* budget component*/
.currencyInput {
  border: 1px inset #ccc;
  background: white;
  display: inline-block;
}
.currencyInput input {
  border: 0;
}


/* budget bar component */
.budget-bar__wrapper {
  height: 20px;
  width: 100%;
  background-color: #e0e0de;
  border-radius: 50px;
  margin-top: 20px;
}


.budget-bar-total {
  height: 100%;
  background-color: #333;
  border-radius: inherit;
  text-align: right;
  transition: width 1s ease-in-out;
  }

.budget-bar-progress  {
  padding: 5px;
  color: white;
  font-weight: bold;
}